html,
body {
    -webkit-font-smoothing: antialiased;
    font-family: 'cwTeXHei', sans-serif;
    font-size: large;
    font-style: normal;
    overflow-x: hidden;
}

section {
    position: relative;
    overflow: hidden;
}

.icon {
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: contain;
    background-size: contain;
    height: 10rem;
    max-width: 60%;
    margin: 2rem auto 2rem auto;
}

.animation {
    -webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    transition: all 600ms ease;
}

.shadow {
    /*-moz-box-shadow: inset 0 0 12px #000000;*/
    /*-webkit-box-shadow: inset 0 0 12px #000000;*/
    box-shadow: inset 0px 10px 10px -10px #000000, inset 0px -10px 10px -10px #000000;
}

.blur-White:before {
    z-index: 50;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.3);
}

.blur-black:before {
    z-index: 50;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
}

.simple-background:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('./assets/background/asanoha-400px.png');
    width: 100%;
    height: 100%;
    opacity: 0.6;
    z-index: -1;
}

.dark-background {
    background-color: black;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    min-width: 100%;
    min-height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
}

.text-center {
    text-align: center;
}

.padding-top {
    padding-top: 5rem;
}

.padding-bottom {
    padding-bottom: 5rem;
}