

/*#gallery-container {
    text-align: center;
}

    #gallery-container .photo {
        margin: 50px auto 0 auto;
        max-width: 80%;
        height: 80vh;
        background-repeat: no-repeat;
        background-position: center center;
        -webkit-background-size: contain;
        background-size: contain;
        opacity: 0;
    }

    #gallery-container .photos-container {
        margin: 20px 20px 50px 20px;
        overflow-x: auto;
        overflow-Y: hidden;
    }

    #gallery-container .photos div {
        display: inline-block;
        height: 100px;
        width: 100px;
        border: solid 1px rgba(0,0,0, 0.2);
        background-color: rgba(0,0,0, 0.2);
        background-repeat: no-repeat;
        background-position: center center;
        -webkit-background-size: contain;
        background-size: contain;
    }

        #gallery-container .photos div:hover {
            border: solid 1px #fdc3c7;
        }*/