html, body {
  -webkit-font-smoothing: antialiased;
  font-family: 'cwTeXHei', sans-serif;
  font-size: large;
  font-style: normal;
  overflow-x: hidden;
}

section {
  position: relative;
  overflow: hidden;
}

.icon {
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: contain;
  background-size: contain;
  height: 10rem;
  max-width: 60%;
  margin: 2rem auto 2rem auto;
}

.animation {
  -webkit-transition: all 600ms ease;
  -moz-transition: all 600ms ease;
  transition: all 600ms ease;
}

.shadow {
  /*-moz-box-shadow: inset 0 0 12px #000000;*/
  /*-webkit-box-shadow: inset 0 0 12px #000000;*/
  box-shadow: inset 0px 10px 10px -10px #000000, inset 0px -10px 10px -10px #000000;
}

.blur-White:before {
  z-index: 50;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.3);
}

.blur-black:before {
  z-index: 50;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
}

.simple-background:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("./assets/background/asanoha-400px.png");
  width: 100%;
  height: 100%;
  opacity: 0.6;
  z-index: -1;
}

.dark-background {
  background-color: black;
}

.title {
  text-align: center;
}

.padding-top {
  padding-top: 5rem;
}

.padding-bottom {
  padding-bottom: 5rem;
}

/* assets */
.assets-content {
  width: 100%;
  margin: 0px auto;
  z-index: 100;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.assets-content .photo {
  position: relative;
  width: 12.5%;
  padding: 6.25% 0;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
}

.assets-content .isVideo:before {
  content: "\f144";
  font-family: FontAwesome;
  font-size: 5rem;
  color: #fff;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

@media (max-width: 767px) {
  .assets-content .photo {
    width: 16.66%;
    padding: 8.33% 0;
  }
}

@media (max-width: 575px) {
  .assets-content .photo {
    width: 50%;
    padding: 25% 0;
  }
}

/* assets end */
/* full-window */
#full-window-toggle {
  position: fixed;
  z-index: 1000;
  margin: 0.6rem 0 0 0.8rem;
}

.full-window-content {
  position: fixed;
  overflow-y: hidden;
  background: rgba(0, 0, 0, 0.9);
}

.full-window-content-show {
  width: 100%;
  height: 100%;
  z-index: 100;
  opacity: 1;
}

.full-window-content-hidden {
  width: 1rem;
  height: 1rem;
  z-index: -100;
  opacity: 0;
}

/* full-window end */
/* parallax-scrolling */
.parallax-scrolling-container {
  overflow: hidden;
}

.parallax-scrolling-container .parallax-scrolling-background {
  position: absolute;
  z-index: -1;
  min-width: 100%;
  min-height: 120%;
  transform: translateY(-20%);
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
}

/* parallax-scrolling end */
#menu ul {
  margin-left: auto;
  margin-right: auto;
  width: 180px;
  list-style: none;
}

#menu ul > li {
  line-height: 2rem;
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.8);
  margin: 8px 0;
}

@media (max-width: 767px) {
  #menu ul #menu ul {
    padding: 10px;
  }
  #menu ul #menu ul > li {
    font-size: 1.0rem;
  }
}

.loader {
  position: relative;
  margin: 0 auto;
  /*  &:before {
    content: '';
    display: block;
    padding-top: 100%;
  }*/
}

.loader .circular {
  animation: rotate 2s linear infinite;
  height: 60%;
  width: 60%;
  transform-origin: center center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.loader .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

@keyframes color {
  100%,
  0% {
    stroke: #d62d20;
  }
  40% {
    stroke: #0057e7;
  }
  66% {
    stroke: #008744;
  }
  80%,
  90% {
    stroke: #ffa700;
  }
}

#showcase .asset {
  margin-top: 5%;
  height: 80%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: contain;
  background-size: contain;
}

#header {
  height: 100vh;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url("./assets/img/header.jpg") no-repeat center center;
  -webkit-background-size: cover;
  background-size: cover;
}

#header .logo-container {
  height: 100%;
  margin: 0 auto;
  top: 20%;
}

#header .logo-container .logo {
  width: 100%;
}

@media (max-width: 991px) {
  #header .logo {
    top: 20%;
  }
}

@media (max-width: 767px) {
  #header .logo {
    top: 30%;
  }
}

#announce .content {
  text-align: center;
  padding-top: 3rem;
}

#announce .selfie-content {
  position: relative;
}

#announce .selfie-content .selfie-container {
  position: absolute;
  width: 30%;
  max-width: 360px;
}

#announce .selfie-content .selfie-container .title {
  margin-top: 1rem;
}

#announce .selfie-content .selfie-container .selfie {
  width: 100%;
  border-radius: 50%;
  padding: 0.5rem;
}

#announce .selfie-content .selfie-container-right {
  right: 25%;
}

#announce .selfie-content .selfie-container-left {
  left: 25%;
}

#announce .selfie-content .selfie-container-right {
  right: 20%;
}

#announce .selfie-content .selfie-container-left {
  left: 20%;
}

@media (max-width: 1199px) {
  #announce .selfie-content .selfie-container-right {
    right: 18%;
  }
  #announce .selfie-content .selfie-container-left {
    left: 18%;
  }
}

@media (max-width: 991px) {
  #announce .selfie-content .selfie-container-right {
    right: 17%;
  }
  #announce .selfie-content .selfie-container-left {
    left: 17%;
  }
}

@media (max-width: 575px) {
  #announce .selfie-content .selfie-container-right {
    right: 16%;
  }
  #announce .selfie-content .selfie-container-left {
    left: 16%;
  }
}

#party .content {
  width: 30rem;
  max-width: 100%;
  margin: 0 auto;
}

#party .content .card {
  background-color: rgba(255, 255, 255, 0.1);
  margin: 0.5rem;
}

#clock-container {
  overflow: hidden;
}

#clockdiv {
  width: 30rem;
  margin: 0 auto;
  padding: 3rem 0;
  text-align: center;
  z-index: 1;
}

#clockdiv > div {
  width: 6rem;
  height: 6rem;
  padding: 1.2rem;
  margin: 0.3rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  display: inline-block;
  color: #fff;
  text-shadow: 0px 0px 12px #404040;
}

#clockdiv > div > span {
  width: 100%;
  font-size: 1.6rem;
  display: inline-block;
}

#clockdiv > div > .smalltext {
  padding-top: 5px;
  font-size: 0.8rem;
}

@media (max-width: 767px) {
  #clockdiv {
    width: 6rem;
  }
}

#map-container {
  position: relative;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 30px;
}

#map-container > .map {
  position: absolute;
  max-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 3px;
}

#map-container > .map-content {
  z-index: 10;
  text-shadow: 0px 0px 12px #404040;
  padding: 100px 0 200px 0;
}

#map-container > .location-marker {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

@keyframes zooming-marker {
  from {
    width: 80px;
    height: 80px;
  }
  to {
    width: 10px;
    height: 10px;
  }
}

#map-container > .location-marker-animation {
  border: 3px rgba(255, 255, 255, 0.6) solid;
  border-radius: 100px;
  animation-duration: 2s;
  animation-name: zooming-marker;
  animation-iteration-count: infinite;
}

#form-container {
  position: relative;
}

#form-container .title {
  padding: 30px 0;
}

#form-container .btn {
  color: rgba(0, 0, 0, 0.8);
  font-size: 1.5rem;
  background-color: #b19ed6;
  border: solid 1px rgba(0, 0, 0, 0.2);
}

#form-container .form-control-feedback {
  color: #b19ed6;
}

/*# sourceMappingURL=index.css.map */