#showcase .asset {
    margin-top: 5%;
    height: 80%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: contain;
    background-size: contain;
}