
@font-face {
    font-family: 'cwTeXHei';
    font-style: normal;
    font-weight: 500;
    src: url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.eot);
    src: url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.eot?#iefix) format('embedded-opentype'), url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.woff2) format('woff2'), url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.woff) format('woff'), url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.ttf) format('truetype');
}

html, body {
    background: #fff;
    -webkit-font-smoothing: antialiased;
    height: 100%;
    font-family: 'cwTeXHei', serif;
    font-size: large;
    font-style: normal;
}


.blur:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0.3+20,0+100 */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMC4zIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjMiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgPC9yYWRpYWxHcmFkaWVudD4KICA8cmVjdCB4PSItNTAiIHk9Ii01MCIgd2lkdGg9IjEwMSIgaGVpZ2h0PSIxMDEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.3) 20%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,0.3) 0%,rgba(255,255,255,0.3) 20%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, rgba(255,255,255,0.3) 0%,rgba(255,255,255,0.3) 20%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4dffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}

.no-gutter.row,
.no-gutter.container,
.no-gutter.container-fluid {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}

.no-gutter > [class^="col-"] {
    padding-left: 0;
    padding-right: 0;
}




/* header area */
header {
    background: url(./img/header.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 150px;
    min-height: 100%;
    color: #fff;
    position: relative;
}


    header * {
        text-align: center;
        text-shadow: 0px 0px 12px #404040;
    }

    header h1 {
        font-size: 6rem;
        word-break: keep-all;
    }


        header h1 i.fa-heart {
            color: rgb(221, 75, 80);
        }

        header h1 i.fa-magic {
            color: rgb(39, 97, 223);
        }

    header hr {
        max-width: 300px;
        border-top: solid 2px #fff;
    }

    header h2 {
        font-size: 2.8rem;
        margin-bottom: 50px;
    }

    header p {
        font-size: 1.6rem;
        margin-bottom: 60px;
    }

    header i.fa-angle-double-down {
        font-size: 50px;
        position: absolute;
        bottom: 10px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        color: #fff;
    }


@media screen and (max-width:768px ) {
    header h1 {
        font-size: 2.6rem;
    }

    header h2 {
        font-size: 1.8rem;
    }

    header p {
        font-size: 1rem;
    }
}

nav {
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-60%);
    z-index: 1;
}

    nav > ul {
        list-style: none;
    }

        nav > ul > li {
            line-height: 2.5rem;
            font-size: 1.2rem;
            color: #2e2e2e;
        }

@media screen and (max-width:768px ) {
    nav > ul > li {
        font-size: 1rem;
    }
}

.fullpage {
    min-height: 100%;
    -webkit-transition: all 800ms ease;
    -moz-transition: all 800ms ease;
    transition: all 800ms ease;
    padding-top: 80px;
}

.wrap {
    text-align: center;
    background: #fff;
    padding: 50px 0;
    -moz-box-shadow: 0 0 6px rgba(153, 153, 153, 0.25);
    -webkit-box-shadow: 0 0 6px rgba(153, 153, 153, 0.25);
    box-shadow: 0 0 6px rgba(153, 153, 153, 0.25);
    position: relative;
    overflow: hidden;
}

/* Default Animation Styles */
.animation {
    background: #000;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin: 50px auto;
    position: relative;
}

    .animation i {
        color: #fff;
        position: absolute;
        left: 50%;
        top: 50%;
        font-size: 30px;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

/* SCENE COLORS */
.scene-1-active {
    background: rgb(211, 39, 45) !important;
}

.scene-2-active {
    background: rgb(0, 205, 150) !important;
}

.scene-3-active {
    background: rgb(2, 0, 60) !important;
}


.map {
    height: 300px;
}
