/* Ignore => Base Styles */
    
    html, body {
      background: #e3e3e3;
      -webkit-font-smoothing: antialiased;
      height: 100%;
    }
    
    
    header {
      text-align: center;
      background: url("https://lh3.googleusercontent.com/TiL3L0PhJKnkRqpOSdqXp5HpqCTHndKyt3RP-PdXu5JZZV0MjJ03VfLSSo2pxnr09-Mumy3Pc1wbG4OizDLL0v1XYCsnlS8bO_oqMFZhRa5W_Q1q19KFq5RjNGUo_Dnx29v0HNckee-tZe-bq9EVfGqeOv0d0wJwplSHTa4xYosdqPyfkRRYwinTM11VS8Te197D1wxi-mxdlqCKQOsCuYAlR-t2qwv5Bh9VC7Q4gTp81kZhG5a6YRZDc7sa4kSd6Iney-viYDscROpZtnED5VJmrk49Wm2YWzT2mfIdH5Fix-s3vrg-MHTqI-AnakmyXGCQntiujE6PZmbl-Qys6CqA2FCbHPDG01eJXTFLxggl6aFt65kfQe4hxjNLhBNeAnI0yItJk0-gLTVNzmIx1RttheDhKjCoTcVWBwZMZJ0jF1GWB2laIsOlsJBcBWRFcdtvz50JrkWYhST18_36KouOr5vtHz-_8KC6bx7rEd-x_kW6zjL-O2hOyaXqBJjcWO66UQJo1ILrgtey7SX-fPAfuFZjJSC54yvedbrHqz7JhkxVtXTlqHbiMKxJ7gfHr6mCmUESxBHxmj1HyQVppZDhEiWJBw-jVg4yHuCWKqhvZrDo=w2808-h1877-no") center center fixed no-repeat;
      background-size: cover;
      padding: 50px 0px 150px 0px;
      min-height: 100%;
      color: #fff;
      position: relative;
    }
    
    header * {
      text-shadow: 0px 1px 1px rgba(150, 150, 150, 0.35);
    }
    
    header h1 {
      margin-top: 250px;
      font-size: 50px;
    }
    
    header h1 i.fa-heart {
      color: rgb(221, 75, 80);
    }
    
    header h1 i.fa-magic {
      color: rgb(39, 97, 223);
    }
    
    header hr {
      max-width: 300px;
      border-top: solid 2px #fff;
    }
    
    header h2 {
      margin-bottom: 30px;
    }
    
    header p {
      margin-bottom: 0px;
    }
    
    header i.fa-angle-double-down {
      font-size: 50px;
      position: absolute;
      bottom: 10px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
      color: #111;
    }
    
    header i.fa-angle-double-down:after {
      content: 'Start Scrolling Down';
      position: absolute;
      bottom: 100%;
      left: -35px;
      font-size: 15px;
      width: 104px;
    }
    /* Create huge scrolling area (imitates height of a page) */

    .blur:before {
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    filter: blur(50px);
    margin: -30px;
}    

    
    main {
      padding: 200px 0 500px 0;
      overflow: hidden;
    }
    /* Styles for wrap for demo */
    
    .wrap {
      text-align: center;
      background: #fff;
      padding: 50px 0;
      -moz-box-shadow: 0 0 6px rgba(153, 153, 153, 0.25);
      -webkit-box-shadow: 0 0 6px rgba(153, 153, 153, 0.25);
      box-shadow: 0 0 6px rgba(153, 153, 153, 0.25);
      position: relative;
      margin-bottom: 50px;
      overflow: hidden;
    }
    /* Default Animation Styles */
    
    .animation {
      background: #000;
      width: 100px;
      height: 100px;
      border-radius: 100%;
      margin: 50px auto;
      position: relative;
    }
    
    .animation i {
      color: #fff;
      position: absolute;
      left: 50%;
      top: 50%;
      font-size: 30px;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
    /* SCENE COLORS */
    
    body {
      -webkit-transition: all 800ms ease;
      -moz-transition: all 800ms ease;
      transition: all 800ms ease;
    }
    
    body.scene-1-active {
      background: rgb(211, 39, 45) !important;
    }
    
    body.scene-2-active {
      background: rgb(0, 205, 150) !important;
    }
    
    body.scene-3-active {
      background: rgb(2, 0, 60) !important;
    }